<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <servlet>
        <servlet-name>FrontServlet</servlet-name>
        <servlet-class>com.itu.framework.FrontServlet</servlet-class>
        <init-param>
            <param-name>controller-package</param-name>
            <param-value>com.test.controllers</param-value>
        </init-param>
        <init-param>
            <param-name>view-prefix</param-name>
            <param-value>/WEB-INF/pages/</param-value>
        </init-param>
        <init-param>
            <param-name>view-suffix</param-name>
            <param-value>.html</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontServlet</servlet-name>
        <url-pattern>/app/*</url-pattern>
    </servlet-mapping>
</web-app>